/*
CollabBoard
Team: Ovidiu Bahnean
      Peter Bengtson
      Emmanuel Escobar
      David Fulmer
      Abdulaziz Malik
A collaborative design software used for quick sketching and sharing of design 
ideas. CollabBoard is being developed as a UI Design project for CS422 at at the 
University of Illinois at Chicago.
*/


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 300px; /* Full width */
    height: 450px; /* Full height */
}

/* Modal Content */
.modal-content {
    background-color: #151515;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#vertScroll{
		height: 200px;
		width: 15px;
		overflow: auto;
}

#horScroll{
		height: 15px;
		width: 200px;
		overflow: auto;
}

#content{
		height: 1183px;
		width: 1183px;
}

li > ul{display:none;}
      .show {display:block;}
      .sub-nav ul {
        background: #efefef; 
        background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
        background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
        background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
        box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
        padding: 0 20px;
        border-radius: 0px;  
        list-style: none;
        position: relative;
      }
      .sub-nav ul:after {content: ""; clear: both; display: block;}
      li {float: left;}
      .sub-nav ul li:hover {
        background: #4b545f;
        background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
        background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
        background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
      }
      .sub-nav ul li:hover a {color: #fff;}
      .sub-nav ul li a {
        display: block; 
        padding: 20px 40px;
        color: #757575; 
        text-decoration: none;
      }
      .sub-nav ul ul {
        background: #5f6975; 
        border-radius: 0px; 
        padding: 0;
        position: absolute; 
        top: 100%;
      }
      .sub-nav ul ul li {
        float: none; 
        border-top: 1px solid #6b727c;
        border-bottom: 1px solid #575f6a;
        position: relative;
      }
      .sub-nav ul ul li a {padding: 15px 40px; color: #fff;}
      .sub-nav ul ul li a:hover {background: #4b545f;}

/*///List Box Code*/

#box{
    width: 300px;
    height: 40%;
    position: absolute;
    z-index: 999;
    margin: top;
    margin: left;

}
#drawingCanvas{
    
     position: absolute;
     z-index: -1; 
   
    
}

#items{
    width: 300px;
    height: 40%;
    position: absolute;
    z-index: 999;    
  
}
#button1{
    position: relative;
    top:250px;
    
}
#button2{
    position: relative;
    top:250px;
    
}
